<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.threadsperdaypernewsgroup.model.DailyThreads"/>
    <class name="org.ossmeter.metricprovider.generic.threadsperdaypernewsgroup.model.DailyNewsgroupData"/>
  </extension>
  <extension
        point="org.ossmeter.platform.client.api.pongoviz">
     <visualiser
           metricProviderId="org.ossmeter.metricprovider.generic.threadsperdaypernewsgroup"
           pongoVisualiser="org.ossmeter.metricprovider.generic.threadsperdaypernewsgroup.model.DailyThreadsViz">
     </visualiser>
  </extension>
  <extension
        point="org.ossmeter.platform.metricprovider">
     <metricProvider
           provider="org.ossmeter.metricprovider.generic.threadsperdaypernewsgroup.ThreadsPerDayPerNewsgroupProvider">
     </metricProvider>
  </extension>
</plugin>
