<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.googlecode.pongo.runtime.osgi">
         
	  <class
            name="org.ossmeter.metricprovider.activecommitters.model.ActiveCommitters">
      </class>
	  <class
            name="org.ossmeter.metricprovider.activecommitters.model.NewsgroupData">
      </class>
	  <class
            name="org.ossmeter.metricprovider.activecommitters.model.Committer">
      </class>
   
   </extension>
   <extension
         point="org.ossmeter.platform.metricprovider">
      <metricProvider
            provider="org.ossmeter.metricprovider.activecommitters.ActiveCommittersMetricProvider">
      </metricProvider>
   </extension>

</plugin>
