<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.googlecode.pongo.runtime.osgi">
         
	  <class
            name="org.ossmeter.metricprovider.generic.numberofactivecommittersperdaypernewsgroup.model.DailyActiveCommitters">
      </class>
	  <class
            name="org.ossmeter.metricprovider.generic.numberofactivecommittersperdaypernewsgroup.model.DailyNewsgroupData">
      </class>
   
   </extension>
   <extension
         point="org.ossmeter.platform.metricprovider">
      <metricProvider
            provider="org.ossmeter.metricprovider.generic.numberofactivecommittersperdaypernewsgroup.NumberOfActiveCommittersPerDayPerNewsgroupProvider">
      </metricProvider>
   </extension>

</plugin>
