<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="rascal://modules/DemoLoc/countLoc">
      </rascalMetricProvider>
   </extension>

</plugin>
