<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="metrics://Manager/countTotalLoc">
      </rascalMetricProvider>
   </extension>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="metrics://Manager/countCommentedLoc">
      </rascalMetricProvider>
   </extension>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="metrics://Manager/countEmptyLoc">
      </rascalMetricProvider>
   </extension>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="metrics://Manager/countSourceLoc">
      </rascalMetricProvider>
   </extension>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="metrics://Manager/countTotalLocPerLanguage">
      </rascalMetricProvider>
   </extension>
   <extension
         point="org.ossmeter.metricprovider.rascal">
      <rascalMetricProvider
            isHistoric="false"
            rascalUri="metrics://Manager/countSourceLocPerLanguage">
      </rascalMetricProvider>
   </extension>

</plugin>
