<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
  <extension point="org.ossmeter.platform.metricprovider">
     <metricProvider provider="org.ossmeter.metricprovider.generic.numberofwontfixbugzillabugs.NumberOfWontFixBugzillaBugsProvider">
     </metricProvider>
  </extension>

<extension point="org.ossmeter.platform.client.api.pongoviz">
   <visualiser metricProviderId="org.ossmeter.metricprovider.generic.numberofwontfixbugzillabugs" pongoVisualiser="org.ossmeter.metricprovider.generic.numberofwontfixbugzillabugs.model.DailyNowfbViz">
   </visualiser>
</extension>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.numberofwontfixbugzillabugs.model.DailyNowfb"/>
    <class name="org.ossmeter.metricprovider.generic.numberofwontfixbugzillabugs.model.DailyBugzillaData"/>
  </extension>
</plugin>
