@(users: List[model.User])

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._


@main(Messages("ossmeter.index.title")) {
<section>
  <div class="container box">
      <div class="row col-md-12">
        <h1>Users</h1>
        @if(!users.isEmpty()){
        <div class="control-group">  
          	@*<!-- <a class="btn btn-success" href="@routes.Application.signup()">Signup new user</a> -->*@
            <div class="container show-top-margin separate-rows tall-rows">  
              @for(user <- users) {
              	<div class="user row show-grid">      		
              		<div class="col-md-9"><a href="@routes.Users.view(user.getEmail())">@user.getEmail()</a></div>      		
                </div>
              }
            </div>
        </div>
        }else{
        	<div class="">No users found</div>
        }
    </div>
  </div>
</section>
}