@(user: models.User)

@main(Messages("ossmeter.index.title")) {
<div class="container">
	<div class="user-detail" data-project="@user.name">
	    <h1 class="name">@user.name</h1>
	    <div class="fields">
	    	Email: <label class="email">@user.email</label>
@* 	    	First name: <label class="firstName">@user.firstName</label>
	    	Last name: <label class="lastName">@user.lastName</label> *@
	    </div>
@*  	    
	    <a class="btn btn-success" href="@routes.Users.edit(user.id)">Edit</a>
		<a class="btn" href="@routes.Account.changePassword">@Messages("ossmeter.profile.password_change")</a>
*@
		<a class="btn btn-success" href="#">Edit</a>
		<a class="btn btn-danger" href="@routes.Users.delete(user.id)">Delete</a>


	</div>
</div>
}