@(qualityModel : QualityModel)


@printAttributes(aspect : QualityAspect) = {
	@for(attr <- qualityModel.attributes) {
		{
			"name" : "@attr.name",
			"metrics" : [
			@for(m <- attr.metrics) {"@m",}
			]
		},
	}
	@for(asp <- aspect.aspects) {
		@printAttributes(asp)
	}
}

@main(Messages("ossmeter.index.title")) {
<section>
  <div class="container box">
    
     <div class="row">
     	<div class="col-md-3">
     		<h1>Compare</h1>
     	</div>
     	<div class="col-md-6">
     		<div class="row">
			    <div class="col-md-12 center">
			    	<h2 style="margin:5px">Discover, <span style="color:#ff9400">Compare</span>, Adopt, Monitor</h2>
			    </div>
		    </div>
          	<div class="row"  data-bind="foreach: projects">
	        	<div class="col-md-4">
				    <div class="input-group" data-bind="css: css()">
					    <input type="text" class="form-control" id="project0" placeholder="Search..." data-bind="value: name">
					    <div class="input-group-addon" data-bind="click: $parent.removeProject">
					    	<span class="glyphicon glyphicon-remove"></span>
					    </div>
				    </div>
			    </div>
		    </div>
		    <div class="row">
		    	<div class="col-md-12 center">
				    <button class="btn btn-default" data-bind="click: addProject, enable: projects().length < 3"><span class="glyphicon glyphicon-plus"></span> Add Project</button>
			    </div>
		    </div>
          </div>
      </div>
   	</div>
</section>



<section>
    <div class="container box">
	    <div class="row">
		    <div class="col-md-12">
		    	<a href="#" class="btn btn-primary form-control">Compare</a>
		    </div>
	    </div>
    </div>
</section>

<section>
	<div class="container box">
		<div class="row">
			<div class="col-md-12" id="legend">
			</div>
		</div>
		<div class="row">
			<!-- ko foreach: selectedMetrics --> 
		    <div class="col-md-6">
		    	<span data-bind="text:name"></span><span data-bind="attr:{id: 'legend-'+id}"></span>
				<div class="box" data-bind="compPlot: { metric: $data, projects: $parent.projects}, attr : {id: 'plot-' + id}">
				loading
				</div>
			</div>
			<!--  /ko -->
	    </div>
    </div>
</section>


<!-- ko foreach: qualityAttributes --> 
<section>
    <div class="container box">
	    <div class="row" data-toggle="collapse" aria-expanded="true" data-bind="attr : { 'aria-controls' : 'div-attr-' + id, 'data-target' : '#div-attr-' + id }">
	        <h2 class="marginless" data-bind="text:name"></h2>
	    </div>
	    <div class="row collapse" data-bind="attr :{id : 'div-attr-' + id }">
	        <table class="table">
	        	<thead>
	        		<th>toolkit</th>
	        		<th>metric</th>
	        		<!-- ko foreach: $parent.projects --> 
	        		<th data-bind="text: name"></th>
	        		<!-- /ko -->
	        	</thead>
	        	<tbody data-bind="foreach: metrics">
	        		<tr>
	        			<td>
	        				<div class="checkbox">
                                <input type="checkbox" value="id" data-bind="checked: selected">
							</div>
						</td>
						<td data-bind="text: name"></td>
						<!-- ko foreach: $root.projects --> 
		        		<td>
		        			<span data-bind="sparkplot: { project: $data, metric: $parent }"></span>
		        		</td>
		        		<!-- /ko -->
	        		</tr>
	        		
	        	</tbody>
	        </table>
        </div>
    </div>
</section>
<!-- /ko -->

<script type="text/javascript" src="@routes.Assets.at("js/metvis.0.1.0.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/d3.v3.min.js")"></script>


<script type="text/javascript">
function addVisToChart(vis, chart) {
	chart.draw();
	chart.addVis(vis);
}

function drawLegend(chart, container) {
    var l = $(container);
    l.empty();
        l.append("<ul>");
        for (var s in chart.series) {
            l.append('<li><div class="legend-box" style="background-color:' + chart.colors(s) + '"></div>' + chart.series[s].vis.projectName + '</li>');
        }
        l.append("</ul>");
}

$(function(){

	chartmap = {}

	ko.bindingHandlers.compPlot = {
		init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {

			// destroy any references to the chart when disposed
			ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
				var metricid = valueAccessor().metric.id;
				if (chartmap[metricid]) {
					delete chartmap[metricid];
				}
			});

		},
		update: function(element, valueAccessor, allBindingsAccessor) {
			var vacc = valueAccessor();
			var metric = vacc.metric;
			var projects = vacc.projects();

			var chart;//= new metvis.Chart(element, {}); //FIXME

			// $(element).empty();

			$.getJSON("http://localhost:8182/projects/p/" + projects[0].id() + "/m/" + metric.id, function(vis) {
				var chart = new metvis.Chart("#plot-" + metric.id, vis);
				chart.height = 200;
				chart.draw();
				chartmap[metric.id] = chart;

				for (var p = 1; p < projects.length; p++) {
					if (projects[p].metricmap[metric.id]) {
						chartmap[metric.id].addVis(projects[p].metricmap[metric.id]);
						return;
					}
					(function(proj) {
						$.getJSON("http://localhost:8182/projects/p/" + proj.id() + "/m/" + metric.id, function(vis) {

							vis.projectName = proj.name();

							chartmap[metric.id].addVis(vis);
							proj.metricmap[metric.id] = vis;
							drawLegend(chartmap[metric.id], "#legend-"+metric.id)
						});
					})(projects[p]);
				}
			});
		}
	}

	ko.bindingHandlers.sparkplot = {
		init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
			$(element).html("Loading...");	
		},
		update: function(element, valueAccessor, allBindingsAccessor) {
	        // Extract info
	        var vacc = valueAccessor();
	        var project = vacc.project;
	        var metric = vacc.metric;

	        // TODO keep the sparks in memory (in the view model)
	        // then check the VM before invoking the API
	        // Grab all sparks in single query on "Compare" push
	        $.getJSON("http://localhost:8182/projects/p/" + project.id() +"/s/" + metric.id, function (data) {
	        	$(element).html('<img src="http://localhost:8182'+data.spark+'" class="spark" /> ' + abbreviateNumber(data.last));
	        });
		}
	};

	var Project = function(id, name, valid) {
		this.id = ko.observable(id);
		this.name = ko.observable(name);
		this.valid = ko.observable(valid);
		this.metricmap = ko.observable();

		this.css = function() {
			return this.valid() ? "has-success" : "";
		}
	}

	var QualityAttribute = function(id, name, metrics) {
		this.id = id;
		this.name = name;
		this.metrics = metrics;
	}

	var Metric = function(id, name, selected) {
		this.id = id;
		this.name = name;
		this.selected = ko.observable(selected);
	}

	var ComparisonModel = function() {
		"use strict";
		var self = this;
		self.qualityAttributes = ko.observableArray();
		self.projects = ko.observableArray();

		self.validProjects = ko.computed(function() {
			var val = [];
			ko.utils.arrayForEach(self.projects(), function(p) {
				if (p.valid()) {
					val.push(p);
				}
			});
			return val;
		});

		self.selectedMetrics = ko.computed(function() {
           	var sel = [];
           	ko.utils.arrayForEach(self.qualityAttributes(), function(attr){
           		ko.utils.arrayForEach(attr.metrics, function(m){
                   	if (m.selected()) {
                           sel.push(m);
                    }
                });
            });
            return sel;
       	});

		self.removeProject = function(project) {
			self.projects.remove(project);
		}.bind(self);

		self.addProject = function() {
			self.projects.push(new Project("", "", false));
		}.bind(self);
	}

	vm = new ComparisonModel();

	// DEBUG
	var qa = new QualityAttribute("foo", "Foo", [
		new Metric("commitsovertimeline", "Commits", false)
		]);
	var qa2 = new QualityAttribute("bar", "Bar", [
			new Metric("commitsPerDayTimeLine", "Commits 2", true)
			]);

	vm.qualityAttributes.push(qa);
	vm.qualityAttributes.push(qa2);
	// END DEBUG
@*
	var qualityModel = {
		attributes : [
			@printAttributes(qualityModel)
		]
	}*@


	var p = new Project("modeling=mmt-atl-bkp", "ATL 1", true);
	var p2 = new Project("modeling-mmt-atl", "ATL 2", true);
	var p3 = new Project("modeling-acceleo", "Acceleo", true);
	vm.projects.push(p);
	vm.projects.push(p2);
	vm.projects.push(p3);


	ko.applyBindings(vm);

	// Load projects from cookies
	// var comp = JSON.parse($.cookie("cccc"));
	// if (comp) {
	// 	for (c in comp) {
	// 		// Bind
	// 		var p = new Project(comp[c].id, comp[c].name, true);
	// 		vm.projects.push(p);

	// 		// And populate the text boxes
	// 		$("#project"+c).val(comp[c].name);
	// 	}
	// }

});


</script>

<script type="text/javascript">
	
</script>


<script type="text/javascript" src="@routes.Assets.at("js/knockout-2.3.0.js")"></script>

}