@(title: String, nav: String = "")(content: Html)

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

<!DOCTYPE html>
<html lang="@lang().code()">
  <head>
    <title>@title</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="OSSMETER webapp">
    <meta name="author" content="The OSSMETER Team">
    
    <!-- Styles -->    
    <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="@routes.Application.index()">OSSMETER</a>

          <div class="btn-group pull-right">
          @subjectPresentOr() {
          	@defining(Application.getLocalUser(session())) { user =>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> @user.name
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Application.profile()">@Messages("ossmeter.navigation.profile")</a></li>
              <li><a href="@routes.Account.link()">@Messages("ossmeter.navigation.link_more")</a></li>
              <li class="divider"></li>
              <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> @Messages("ossmeter.navigation.logout")</a></li>
            </ul>
            }
          }{
            <a href="@routes.Application.login()" class="btn btn-primary btn-mini @("disabled".when(nav == "login"))">@Messages("ossmeter.navigation.login")</a>
          }
          </div>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="@("active".when(nav == ""))"><a href="@routes.Application.index()">@Messages("ossmeter.navigation.home")</a></li>
              @subjectPresent() {
              	<li class="@("active".when(nav == "admin"))"><a href="@routes.Application.admin()">@Messages("ossmeter.navigation.admin")</a></li>
              }
              @subjectNotPresent() {
		    	<li class="@("active".when(nav == "signup"))"><a href="@routes.Application.signup()">@Messages("ossmeter.navigation.signup")</a></li>
	     	  }
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
	    @if(flash.contains(Application.FLASH_ERROR_KEY)) {
	      <div class="alert alert-error">
	      	@flash().get(Application.FLASH_ERROR_KEY)
	      </div>
	    }
	    @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
	      <div class="alert alert-success">
	      	@flash().get(Application.FLASH_MESSAGE_KEY)
	      </div>
	    }
		@content

    <hr>

      <footer>
        <p>&copy; 2014 OSSMETER. Licensed under Apache License, Version 2.0. View details <a href="https://www.apache.org/licenses/LICENSE-2.0">here</a>.</p>
        <p>
        <small><a href="http://twitter.github.com/bootstrap/index.html" target="_blank">Twitter Bootstrap</a> &middot; Provider icons by <a href="https://github.com/paulrobertlloyd/socialmediaicons/" target="_blank">Paul Robert Lloyd</a></small></p>
      </footer>
    </div> <!-- /container -->
	
	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
	<script src="@routes.Application.jsRoutes" defer="defer"></script>
    <!-- IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </body>
</html>
