@(localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(Messages("ossmeter.profile.title"),"profile") {

<section>
<div class="container box">
    <h1>@Messages("ossmeter.profile.title")</h1>
    <p>
    Your name is @localUser.name and your email address is @if(!localUser.email) {<em>&lt;unknown&gt;</em>.} else {
    	@localUser.email.
	    <i>
	    @if(!localUser.emailValidated && localUser.email) {
	      (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
	    } else {
	      (verified)
	    }</i>
    }
    <br />
        @if(localUser.firstName && localUser.lastName) {
            Your first name is @localUser.firstName and your last name is @localUser.lastName
            <br/>
        }
    @defining(localUser.getProviders()) { providers =>
        @if(providers.size() > 0) {
            @if(providers.size() ==1) {
                @Messages("ossmeter.profile.providers_one")
            } else {
                @Messages("ossmeter.profile.providers_many",providers.size().toString())
            }
            @for(p <- providers) {
                @_providerIcon(p)
            }
        <br/>
        }
    }

    <h2>Configure Notifications</h2>
    @if(localUser.notifications.size() > 0) {
        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Metric</th>
                    <th>Threshold</th>
                    <th>Trigger</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @for(n <- localUser.notifications) {
            <tr> <!-- TODO: Will want to present the project and metric name, not ID. -->
                <td>@n.projectId</td>
                <td>@n.metricId</td>
                <td>@n.thresholdValue</td>
                <td>
                @if(n.aboveThreshold) {
                    ABOVE
                } else {
                    BELOW
                }
                </td>
                <td>
                    Edit &nbsp; Delete
                </td>
            </tr>
        }
            </tbody>
        </table>
    } else {
        @Messages("ossmeter.profile.notifications.empty") <a href="@routes.Application.profileNotification">Click here to add one</a>
    }

    <h2>Configure EventGroups</h2>
    @if(localUser.eventGroups.size() > 0) {
        <a href="@routes.Application.profileEventGroup">Create</a>
        <ul>
        @for(gr <- localUser.eventGroups) {
            <li><p>
            <label class="form-label" name="eventGroup" value=@gr>@gr.name</label> 
            @if(gr.events.size() > 0) {
                @for(ev <- gr.events) {
                    <span>Events: @ev.name, @ev.date</span>
                }
            } else {
                <span>No events yet</span>
            }

            @helper.form(routes.Account.createEvent, 'class->"form-project") {
                <span><input type="submit">Add Event</input> &nbsp; Edit &nbsp; Delete</span>
            }
                </p>
            </li> 
        }
        </ul>
    } else {
        @Messages("ossmeter.profile.eventgroup.empty") <a href="@routes.Application.profileEventGroup">Click here to add one</a>
    }

    <br/>
    @currentAuth() { auth =>
        @Messages("ossmeter.profile.logged") @_providerIcon(auth.getProvider())<br/>
        @if(auth.expires() != -1){
            @Messages("ossmeter.profile.session", auth.getId(), Application.formatTimestamp(auth.expires()))
        } else {
            @Messages("ossmeter.profile.session_endless", auth.getId())
        }
    }
    <br/>
    <ul>
    	<li><a href="@routes.Account.changePassword">@Messages("ossmeter.profile.password_change")</a></li>
    </ul>
    </p>
</div>
<div class="container">
    <div class="gridster">
        <ul>
            <li class="box" data-row="1" data-col="1" data-sizex="1" data-sizey="1">A</li>
            <li class="box" data-row="2" data-col="1" data-sizex="1" data-sizey="1">B</li>
            <li class="box" data-row="3" data-col="1" data-sizex="1" data-sizey="1">C</li>
     
            <li class="box" data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
            <li class="box" data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li>
     
            <li class="box" data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
            <li class="box" data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
            <li class="box" data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>
     
            <li class="box" data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
            <li class="box" data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>
     
            <li class="box" data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
            <li class="box" data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function(){ 
        $(".gridster ul").gridster({
            widget_margins: [10, 10],
            widget_base_dimensions: [140, 140]
        });
     
    });
</script>

    </div>
</section>
}
