<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
  <extension point="org.ossmeter.platform.metricprovider">
     <metricProvider provider="org.ossmeter.metricprovider.historic.numberofduplicatebugzillabugs.NumberOfDuplicateBugzillaBugsProvider">
     </metricProvider>
  </extension>
<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.numberofduplicatebugzillabugs.model.DailyNodb"/>
    <class name="org.ossmeter.metricprovider.generic.numberofduplicatebugzillabugs.model.DailyBugzillaData"/>
  </extension>
<extension
      point="org.ossmeter.platform.client.api.pongoviz">
   <visualiser
         metricProviderId="org.ossmeter.metricprovider.generic.numberofduplicatebugzillabugs"
         pongoVisualiser="org.ossmeter.metricprovider.historic.numberofduplicatebugzillabugs.model.DailyNodbViz">
   </visualiser>
</extension>
</plugin>
