<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ossmeter.rascal.metricprovider">
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/RRPHPHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/APHPHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/CFPHPHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/MHFPHPHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/PFPHPHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/AHFPHPHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/SRPHPHistoric.json">
      </visualisation>
   </extension>
</plugin>
