<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
  <extension point="org.ossmeter.platform.metricprovider">
     <metricProvider provider="org.ossmeter.metricprovider.historic.numberofnonresolvedclosedbugzillabugs.NumberOfNonResolvedClosedBugzillaBugsProvider">
     </metricProvider>
  </extension>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.numberofnonresolvedclosedbugzillabugs.model.DailyNonrcb"/>
    <class name="org.ossmeter.metricprovider.generic.numberofnonresolvedclosedbugzillabugs.model.DailyBugzillaData"/>
  </extension>
<extension
      point="org.ossmeter.platform.client.api.pongoviz">
   <visualiser
         metricProviderId="org.ossmeter.metricprovider.generic.numberofnonresolvedclosedbugzillabugs"
         pongoVisualiser="org.ossmeter.metricprovider.historic.numberofnonresolvedclosedbugzillabugs.model.DailyNonrcbViz">
   </visualiser>
</extension>
</plugin>
