<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  

<extension point="org.ossmeter.platform.metricprovider">
   <metricProvider provider="org.ossmeter.metricprovider.historic.newsgroups.requestsreplies.average.RequestsRepliesHistoricMetricProvider">
   </metricProvider>
</extension>


<extension point="org.ossmeter.platform.visualisation.metric">
   <visualisation json="vis/historic.bugs.requestsreplies.average.json">
   </visualisation>
</extension>


<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.historic.newsgroups.requestsreplies.average.model.BugsRequestsRepliesHistoricMetric"/>
  </extension>
<extension
      point="org.ossmeter.platform.visualisation.metric">
   <visualisation
         json="vis/articlesrequestsreplies.json">
   </visualisation>
</extension>
</plugin>
