<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  
  <extension point="org.ossmeter.platform.metricprovider">
     <metricProvider provider="org.ossmeter.metricprovider.trans.bugheadermetadata.BugHeaderMetadataMetricProvider">
     </metricProvider>
  </extension>






<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.trans.bugheadermetadata.model.BugHeaderMetadata"/>
    <class name="org.ossmeter.metricprovider.trans.bugheadermetadata.model.BugData"/>
    <class name="org.ossmeter.metricprovider.trans.bugheadermetadata.model.CommentData"/>
  </extension>
</plugin>
