<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  


<extension point="org.ossmeter.platform.metricprovider">
   <metricProvider provider="org.ossmeter.metricprovider.historic.avgbugcreationclosedtime.AvgBugzillaBugOpenTimeProvider">
   </metricProvider>
</extension>
<extension point="org.ossmeter.platform.client.api.pongoviz">
   <visualiser metricProviderId="org.ossmeter.metricprovider.generic.avgbugcreationclosedtime" pongoVisualiser="org.ossmeter.metricprovider.historic.avgbugcreationclosedtime.model.DailyAvgBugOpenTimeViz">
   </visualiser>
</extension>



<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.avgbugcreationclosedtime.model.DailyAvgBugOpenTime"/>
    <class name="org.ossmeter.metricprovider.generic.avgbugcreationclosedtime.model.DailyBugzillaData"/>
  </extension>
</plugin>
