<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  











<extension point="org.ossmeter.platform.metricprovider">
   <metricProvider provider="org.ossmeter.metricprovider.trans.bugs.emotions.EmotionsTransMetricProvider">
   </metricProvider>
</extension>


<extension point="org.ossmeter.platform.visualisation.metric">
   <visualisation json="vis/trans.bugs.emotions.json">
   </visualisation>
</extension>



<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.trans.bugs.emotions.model.BugsEmotionsTransMetric"/>
    <class name="org.ossmeter.metricprovider.trans.bugs.emotions.model.BugTrackerData"/>
    <class name="org.ossmeter.metricprovider.trans.bugs.emotions.model.EmotionDimension"/>
  </extension>
</plugin>
