<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   


















<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.repository.model.github.GitHubRepository"/>
    <class name="org.ossmeter.repository.model.github.Language"/>
    <class name="org.ossmeter.repository.model.github.GitHubContent"/>
    <class name="org.ossmeter.repository.model.github.GitHubDownload"/>
    <class name="org.ossmeter.repository.model.github.GitHubBugTracker"/>
    <class name="org.ossmeter.repository.model.github.GitHubIssue"/>
    <class name="org.ossmeter.repository.model.github.GitHubMilestone"/>
    <class name="org.ossmeter.repository.model.github.GitHubUser"/>
  </extension>
</plugin>
