<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser.model.AverageRRUser"/>
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser.model.AverageArticlesPerUserData"/>
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser.model.AverageRequestsPerUserData"/>
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser.model.AverageRepliesPerUserData"/>
  </extension>
  <extension
        point="org.ossmeter.platform.client.api.pongoviz">
     <visualiser
           metricProviderId="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser"
           pongoVisualiser="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser.model.AverageRRUserViz">
     </visualiser>
  </extension>
  <extension
        point="org.ossmeter.platform.metricprovider">
     <metricProvider
           provider="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperuser.NumberOfRequestsRepliesPerUserProvider">
     </metricProvider>
  </extension>
</plugin>
