@(project: org.ossmeter.repository.model.Project, qualityModel : QualityModel, aspect : QualityAspect, summary : Boolean, parents : List[QualityAspect])

@import scala._

@for(attribute <- aspect.attributes) {
    @_attributeView(project, qualityModel, attribute, parents, summary)
}

@for(a <- aspect.aspects) {
    @_aspectView(project, qualityModel, a, summary, parents)
}



@*
 COMMENTED OUT FOR NEW DESIGN

@if(summary) {
    @for(attribute <- aspect.attributes) {
        @_attributeSummaryView(project, qualityModel, attribute, parents)
    }
    @for(a <- aspect.aspects) {
        @_aspectView(project, qualityModel, a, parents)
    }
} else {
    
<section>
    <div class="container box">
        <div class="row">
            <div class="col-md-12 center" id="metricplot-legend">
                hi
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container box">
        <div class="row">
    @for(attribute <- aspect.attributes) {
        @_attributeDetailView(project, qualityModel, attribute)
    }
        </div>
    </div>
</section>

}
*@