@*
    
    @param project      The associated project 
    @param qualityModel The associated quality model
    @param attribute       The quality attribute
*@

@(project: org.ossmeter.repository.model.Project, qualityModel : QualityModel, attribute : QualityAttribute)

@import scala._

@import org.ossmeter.repository.model._
@import org.ossmeter.repository.model.bts.bugzilla._
@import org.ossmeter.repository.model.cc.forum._
@import org.ossmeter.repository.model.cc.nntp._
@import org.ossmeter.repository.model.cc.wiki._
@import org.ossmeter.repository.model.vcs.svn._
@import org.ossmeter.repository.model.vcs.git._
@import org.ossmeter.repository.model.eclipse._

@attributeId = @{ 
    attribute.name.replaceAll(" ", "");
}

    <div class="row">
        <h2 class="marginless">@attribute.name</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table spark-table" id="sparklines-table-12months-@attributeId">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table spark-table" id="sparklines-table-alltime-@attributeId">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
            <script type="text/javascript">
                $(function() {
                    drawSparkTable("sparklines-table-12months-@attributeId", "@project.getShortName()", "@attribute.metrics.mkString("+")", "startDate="+getOneYearAgoDateString(), true)
                    drawSparkTable("sparklines-table-alltime-@attributeId", "@project.getShortName()", "@attribute.metrics.mkString("+")", "", false)
                });
            </script>
        </div>
    </div>    