@*
    
    @param project      The associated project 
    @param qualityModel The associated quality model
    @param attribute       The quality attribute
*@

@(project: org.ossmeter.repository.model.Project, qualityModel : model.QualityModel, attribute : model.QualityAttribute)

@import scala._

@import org.ossmeter.repository.model._
@import org.ossmeter.repository.model.bts.bugzilla._
@import org.ossmeter.repository.model.cc.forum._
@import org.ossmeter.repository.model.cc.nntp._
@import org.ossmeter.repository.model.cc.wiki._
@import org.ossmeter.repository.model.vcs.svn._
@import org.ossmeter.repository.model.vcs.git._
@import org.ossmeter.repository.model.eclipse._

@attributeId = @{ 
    attribute.name.replaceAll(" ", "");
}

@metricIds = {
    attribute.metrics.take(10).map(x=> x.id)
}

    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="all-spider-@attributeId">  
                     <p>Loading...</p>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(function() {
        $.getJSON(getApi() + "/projects/p/@project.getShortName()/f/@attribute.getFactoids().map(x=> x.getIdentifier()).mkString("+")", function (result) {
            $("#factoids-@attributeId").empty();

            var config = {
                w: 500,
                h: 500,
                maxValue: 4,
                levels: 4,
                ExtraWidthX:200
            };

            drawSpiderChart("#all-spider-@attributeId", result, config);
        }).fail(function(err) {
            $("#factoids-@attributeId").empty();
            $("#factoids-@attributeId").append("<p>Unable to load factoids: " + JSON.parse(err.responseText).msg + "</p>");
        });
    });
</script>