@()

@import scala._

<section>
    <div class="container box">
        <div class="row">    
            <div class="col-md-9" id="plot"></div>
            <div class="col-md-3">
                <h4>Toolbox</h4>
                <a href="#"><span class="glyphicon glyphicon-eye-open tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add plot to dashboard"></span></a>
                <a href="#"><span class="glyphicon glyphicon-time tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Create notification"></span></a>
                <a href="javascript:removeAllFromPlot()"><span class="glyphicon glyphicon-refresh tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Clear plot"></span></a>
                <a href="#"><span class="glyphicon glyphicon-calendar tip btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Show events"></span></a>
                <h4>Legend</h4>
                <div id="legend"></div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
// THIS SCRIPT SHOULD MOVE TO DETAILVIEW as it will differ from compare. This template
// is literally that. A template.
    var vislist = []; //{"id":"bugs.cumulativeAverageResponseTime","name":"Average Response Time (Cumulative) (ms)","description":"The average response time of bugs addressed up to and including the current date.","type":"LineChart","datatable":[{"Date":"20050309","Response Time":0},{"Date":"20050310","Response Time":0},{"Date":"20050311","Response Time":0},{"Date":"20050312","Response Time":0},{"Date":"20050313","Response Time":0},{"Date":"20050314","Response Time":0},{"Date":"20050315","Response Time":0},{"Date":"20050316","Response Time":0},{"Date":"20050317","Response Time":0},{"Date":"20050318","Response Time":0},{"Date":"20060224","Response Time":3925581},{"Date":"20060225","Response Time":3925581},{"Date":"20060226","Response Time":3925581}],"timeSeries":true,"ordinal":false,"x":"Date","y":"Response Time"}

    var metricmap = {};
    var chart;

    function grabMetricData(projectid, metricid) {
        // Check cache
        if (metricid in metricmap) {
            // Only add and redraw if it isn't already on the chart
            if (!$.inArray(metricmap[metricid]), vislist) {
                vislist.push(metricmap[metricid]);
                addVisToChart(metricmap[metricid]);
            }
            return;
        }

        // Grab via API
        $.getJSON(getApi() + "/projects/p/" + projectid + "/m/" + metricid, function(vis) {
            metricmap[metricid] = vis;
            vislist.push(vis);
            
            addVisToChart(vis); 
        });
    }

    function showJustOneMetric(projectid, metricid) {
        if (chart) {
            removeAllFromPlot();
        }
        grabMetricData(projectid, metricid);
    }

    function addVisToChart(vis) {
        if (chart) {
            chart.addVis(vis);
        } else {
            chart = new metvis.Chart("#plot", vis)
            chart.height = 300;
            chart.draw();
        }

        drawLegend();
    }

    function drawLegend() {
        var l = $("#legend");
        l.empty();
        l.append("<ul>");
        for (var s in chart.series) {
            l.append('<li><div class="legend-box" style="background-color:' + chart.colors(s) + '"></div>' + chart.series[s].name + '</li>');
        }
        l.append("</ul>");
    }

    function removeAllFromPlot() {
        for (var v in vislist) {
            chart.removeVis(vislist[v]);
        }
        vislist = [];
        drawLegend();
    }

    function removeFromPlot(visId) {
        if (visId in metricmap) {
            chart.removeVis(metricmap[visId]);
            drawLegend();
        }
    }

    $(function() {
        $(window).scroll(function() {
            if ($("#plot").offset().top + $("#plot").height() > $(window).scrollTop() &&
                $("#plot").offset().top + $("#plot").height() < $(window).scrollTop() + $(window).height()) {
                $("#returnToTop").hide();
            } else {
                $("#returnToTop").css("top", $(window).height()/2);
                $("#returnToTop").show();
            }
        });

        $("#returnToTop").click(function() {
            $("html, body").animate({ scrollTop: ($("#plot").offset().top - 20) }, "slow");
        });
    });
</script>

<div id="returnToTop">
    <span class="glyphicon glyphicon-arrow-up"></span>
    <p><small>Scroll to plot</small></p>
</div>
