@main(Messages("ossmeter.index.title")) {
<section>
<div class="container box">
        <div class="row">
          <div class="col-md-12">
            <h1>New Project</h1>
          </div>
        </div>
      <form class="form-horizontal" role="form" method="post"  action="/projects/add" id="form">
          <div class="form-group">
              <label class="control-label col-md-2" for="proj_name">Name:</label>
              <div class="col-md-4">
                  <input type="text" class="form-control" name="proj_name" id="proj_name" placeholder="Enter project name" maxlength="50">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="homepage">Homepage:</label>
              <div class="col-md-4">
                <input type="text" class="form-control" name="homepage" id="homepage" placeholder="Enter project url">
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-2" for="desc">Description:</label>
              <div class="col-md-4">
                  <textarea class="form-control" id="proj_desc" name="proj_desc" placeholder="Enter short description"></textarea>
              </div>
          </div>
          
          
          <div id="other">
              <div class="row">
                  <div class="col-md-offset-1 col-md-5">
                      <div class="panel panel-default" >
                          <div class="panel-heading text-center">Communication Channels</div>
                          <div class="panel-body">
                              <div id="comm" class="form-group divContent">
                                  <div>
                                  
                                  <div class="row">
                                      <div class="form-group">
                                          <label class="control-label col-md-3" for="name">Name:</label>
                                          <div class="col-md-7">
                                              <input type="text" class="form-control" name="comm_name" placeholder="">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group">
                                          <label class="control-label col-md-3">url:</label>
                                          <div class="col-md-7">
                                              <input type="text" class="form-control" name="comm_url" placeholder="">
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="form-group">
                                          <label class="control-label col-md-3">Description:</label>
                                          <div class="col-md-7">
                                              <textarea class="form-control" id="comm_desc" placeholder="Enter short description"></textarea>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">        
                                    <div class="col-md-offset-3 col-md-5">
                                        <button class="btn btn-info addmore">Add another Channel</button>
                                    </div>
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            
            
            
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <div class="panel panel-default" >
                        <div class="panel-heading text-center">Version Control Systems</div>
                        <div class="panel-body">
                            <div id="vcs" class="form-group divContent">
                                <div>
                  
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="opt_vcs">Select type:</label>
                                        <div class="col-md-3">
                                            <select class="form-control" name="opt_vcs">
                                                <option>git</option>
                                                <option>svn</option>
                                            </select>
                                        </div>
                                    </div>  
                                </div> 
                                    
                                <div class="row">
                                    <div class="form-group">        
                                        <label class="control-label col-md-3" for="vcs_name">Name:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="vcs_name" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">        
                                        <label class="control-label col-md-3" for="vcs_url">url:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="vcs_url" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">        
                                    <div class="col-md-offset-3 col-md-5">
                                        <button class="btn btn-info addmore" id="addmoreButton">Add another VCS</button>
                                    </div>
                                </div>
                            </div>
                                </div>
                        </div>
                    </div>
                 </div>
            </div>
            
            <div class="row">
                <div class="col-md-offset-1 col-md-5">
                    <div class="panel panel-default" >
                        <div class="panel-heading text-center">Bug Tracking Systems</div>
                        <div class="panel-body">
                            <div id="bts" class="form-group divContent">
                                <div>
                                <div class="row">
                                    <div class="form-group">        
                                        <label class="control-label col-md-3" for="bts_product">Product:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="bts_product" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">        
                                        <label class="control-label col-md-3" for="bts_url">url:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="bts_url" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">        
                                        <label class="control-label col-md-3" for="bts_component">Component:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="bts_component" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">        
                                    <div class="col-md-offset-3 col-md-5">
                                        <button class="btn btn-info addmore">Add another BTS</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            
            
        </div>
            
          
        <div class="form-group">        
          <div class="col-md-offset-5 col-md-2">
            <button type="submit" class="btn btn-success" id="submit">Submit</button>
          </div>
        </div>
          
          
      </form>
    </div>
  </div>
</div>
</section>
      
    <script>
        $(function() {
            
            var versionControlSystems = [];
            var communicationChannels = [];
            var bugTrackingSystems = [];
            
            $('body').on('click', '.addmore', function(e) {
                  
                e.preventDefault();
                var $parent = $(this).parent('div').parent('div').parent('div');//third
                var $div = $parent.clone();
                $('#' + $parent.parent('div').attr('id')).append($div);
                $(this).parent('div').parent('div').remove();
            });
            
            
            $('#submit').bind('click', function(e) {
                e.preventDefault();
                
                if(!isValidForm() )
                    return false;

                // reset
                versionControlSystems = [];
                communicationChannels = [];
                bugTrackingSystems = [];
                
                processObjects($('#vcs'));
                processObjects($('#comm'));
                processObjects($('#bts'));
                
                var project = {
                    name: $('#proj_name').val(),
                    homepage: $('#homepage').val(),
                    description: $('#proj_desc').val(),
                    vcs: JSON.parse(JSON.stringify(versionControlSystems)),
                    bts: JSON.parse(JSON.stringify(bugTrackingSystems)),
                    communication_channels: JSON.parse(JSON.stringify(communicationChannels))        
                };
               
                
                
                /*
                myJsRoutes.controllers.Projects.addProject("test")
                    .ajax().success(function(result) {
                       console.log(result);             
                    
                    }).error(function(result) {
                        console.log("Error, unable to toggle spark watch.");
                    });
                
                */
            
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(project),
                    dataType: 'json',
                    contentType : 'application/json; charset=utf-8',
                    url: '@routes.Projects.postCreateProject()',
                    success: function(data){
            			console.log(data);
            			},
                    error : function(data) {
                        alert('error');
                        }
                });

                return false;
            });
            
            
            function processObjects(object) {
                if($(object).attr('id') == 'vcs') {
                    var vcsDivs = $(object).children('div');
                    for($i = 0; $i < vcsDivs.size(); $i++) {
                        processVcsDiv(vcsDivs[$i]);
                    }
                }
                else if($(object).attr('id') == 'comm') {
                    var commDivs = $(object).children('div');
                    for($i = 0; $i < commDivs.size(); $i++) {
                        processCommDiv(commDivs[$i]);
                    }
                }
                else if($(object).attr('id') == 'bts') {
                    var btsDivs = $(object).children('div');
                    for($i = 0; $i < btsDivs.size(); $i++) {
                        processBtsDiv(btsDivs[$i]);
                    }
                }
            }
            
            function processVcsDiv(vcsDiv) {
                var vcs = {
                    name: $(vcsDiv).find('input[name=vcs_name]').val(),
                    url: $(vcsDiv).find('input[name=vcs_url]').val(),
                    type: $(vcsDiv).find('select[name=opt_vcs]').val()
                };
                
                versionControlSystems.push(vcs);
            }
            
            function processCommDiv(commDiv) {
                var newsgroup = $(commDiv).find('input[name=comm_url]').val();
                var channel = {
                    name: $(commDiv).find('input[name=comm_name]').val(),
                    url: $(commDiv).find('input[name=comm_url]').val(),
                    newsgroup: newsgroup.substring(newsgroup.lastIndexOf('/') + 1),
                    description: $(commDiv).find('input[name=comm_desc]').val()     
                };
                
                communicationChannels.push(channel);
            }
            
            function processBtsDiv(btsDiv) {
                var bts = {
                    product: $(btsDiv).find('input[name=bts_product]').val(),
                    url: $(btsDiv).find('input[name=bts_url]').val(),
                    component: $(btsDiv).find('input[name=bts_component]').val()
                };
                
                bugTrackingSystems.push(bts);
            }          
        });

        
        function validateChannels() {
            var $commDivs = $('#comm').children('div');
            jQuery.each($commDivs, function(index, value) {
                $(value).find(':input').removeClass('error');
            });
            
            for($i = 0; $i < $commDivs.size(); $i++) {
                if(($($commDivs[$i]).find('input[name=comm_name]').val()).length > 0) {
                    if($($commDivs[$i]).find('input[name=comm_url]').val().length < 1) {
                        $($commDivs[$i]).find('input[name=comm_url]').addClass('error');
                        return false;
                    }
                }
                else {
                    $($commDivs[$i]).find('input[name=comm_name]').addClass('error');
                    return false;
                }
            }
            
            return true;
            
        }
        
        
        function validateVCS() {
            var $vcsDivs = $('#vcs').children('div');
            
            jQuery.each($vcsDivs, function(index, value) {
                $(value).find(':input').removeClass('error');
            });
            
            for($i = 0; $i < $vcsDivs.size(); $i++) {
                if(($($vcsDivs[$i]).find('input[name=vcs_name]').val()).length > 0) {
                    if($($vcsDivs[$i]).find('input[name=vcs_url]').val().length < 1) {
                        $($vcsDivs[$i]).find('input[name=vcs_url]').addClass('error');
                        return false;
                    }
                }
                else {
                    $($vcsDivs[$i]).find('input[name=vcs_name]').addClass('error');
                    return false;
                }
            }
            
            return true;
            
        }
        
        
        function validateBTS() {
            var $btsDivs = $('#bts').children('div');
            
            jQuery.each($btsDivs, function(index, value) {
                $(value).find(':input').removeClass('error');
            });
                  
            for($i = 0; $i < $btsDivs.size(); $i++) {
                if(($($btsDivs[$i]).find('input[name=bts_product]').val()).length > 0) {
                    if($($btsDivs[$i]).find('input[name=bts_url]').val().length < 1) {
                        $($btsDivs[$i]).find('input[name=bts_url]').addClass('error');
                        return false;
                    }
                }
                else {
                    $($btsDivs[$i]).find('input[name=bts_product]').addClass('error');
                    return false;
                }
            }
                    
            return true;
            
        }
        
        function resetErrors() {
            var $inputs = $('#form').find(':input');
            jQuery.each($inputs, function(i, input) {
                $(input).removeClass('error');
            });
        }
        
        function isValidForm() {
            
            if($('#proj_name').val().length < 1)  {
                $('#proj_name').addClass('error');
                return false;
            }
            else {
                $('#proj_name').removeClass('error');
            }
            if($('#proj_name').val().length > 1 && $('#homepage').val().length < 1) {
                $('#homepage').addClass('error');
                return false;
            }
            else {
                $('#homepage').removeClass('error');
            }
            
            if(validateChannels()) {
                resetErrors();
                return true;
            }
            else if(validateVCS()){
                resetErrors();
                return true;
            }
            else if(validateBTS()) {
                resetErrors();
                return true;
            }
                
        }
                           
    </script>
}
