@(project: models.Project)

@main(Messages("ossmeter.index.title")) {
<div class="container">
	<div class="project-detail" data-project="@project.name">

		<div class="row">
			<div class="col-md-12">
		        <h1 class="name">@project.name</h1>
	        </div>
		</div>

		<div class="row section-heading">
	        <div class="col-md-6">
		        <ol class="breadcrumb projectbreadcrumb">
		            <li>Active (2007-present)</li>
		            <li><a href="#">Eclipse Public License</a></li>
		            <li><a href="http://www.eclipse.org/epsilon">Project Website</a></li>
		        </ol>
	        </div>
	        <div class="col-md-6" style="text-align:right">
	           	<ol class="breadcrumb projectbreadcrumb">
	           		<li class="active">
	           			<a href="#"><button type="button" class="btn btn-primary btn-xs">Star <span class="badge">42</span></button></a>
				  	</li>
		            <li><a href="#">Settings</a></li>
		        </ol>
	        </div>
	    </div>	
		<div class="row">
	        <div class="col-md-6">
	            @Html(project.desc)
	        </div>
	        <div class="col-md-6">
	        @project match {
	        	case proj : SubProject => {
	        		<p>I am a subproject</p>
	        	}
	        	case proj : Project => {
	        		<p>I am a project</p>
	        	}
	        }
	        </div>        
	    </div>

<section>
	    <div class="row">
	        <div class="col-md-8">
	        Factoids summarising the overall quality of the project.
	        </div>
	        <div class="col-md-4">
	            <img src="http://upload.wikimedia.org/wikipedia/commons/0/00/Spider_Chart.svg" style="width:100%"/>
	        </div>
        </div>
        </section>

        <!-- <section>
	    <div class="row">
	        <div class="col-md-4">
	        	<h3 class="text-center">Source Code</h3>
	        	<p><span class="quote">&#8220;</span>has had 2,470 commits made by 4 contributors representing 2,480,383 lines of code<span class="quote">&#8221;</span></p>

                <p><span class="quote">&#8220;</span>is mostly written in Java 
                with an average number of source code comments<span class="quote">&#8221;</span></p>

                <p><span class="quote">&#8220;</span>has a well established, mature codebase 
                maintained by a average size development team 
                with stable Y-O-Y commits<span class="quote">&#8221;</span></p>
	        	<button type="button" class="btn btn-primary">View Detail</button>
	        </div>
	        <div class="col-md-4">
	        	<h3 class="text-center">Communication Channels</h3>
	        	<p><span class="quote">&#8220;</span>has had 2,470 commits made by 4 contributors representing 2,480,383 lines of code<span class="quote">&#8221;</span></p>

                <p><span class="quote">&#8220;</span>is mostly written in Java 
                with an average number of source code comments<span class="quote">&#8221;</span></p>

                <p><span class="quote">&#8220;</span>has a well established, mature codebase 
                maintained by a average size development team 
                with stable Y-O-Y commits<span class="quote">&#8221;</span></p>
	        	<button type="button" class="btn btn-primary">View Detail</button>
	        </div>
	        <div class="col-md-4">
	            <h3 class="text-center">Bug Tracking</h3>
	        	<p><span class="quote">&#8220;</span>has had 2,470 commits made by 4 contributors representing 2,480,383 lines of code<span class="quote">&#8221;</span></p>

                <p><span class="quote">&#8220;</span>is mostly written in Java 
                with an average number of source code comments<span class="quote">&#8221;</span></p>

                <p><span class="quote">&#8220;</span>has a well established, mature codebase 
                maintained by a average size development team 
                with stable Y-O-Y commits<span class="quote">&#8221;</span></p>
	        	<button type="button" class="btn btn-primary">View Detail</button>
	        </div>
        </div>
        </section> -->

        <section>
   <div class="row section-heading">
        <div class="col-md-4">
            <h2>Source Code</h2>
        </div>
        <div class="col-md-6 col-md-offset-2" style="text-align:right">
           <!--  <ol class="breadcrumb projectbreadcrumb">
                <li><a href="#">SVN Repository</a></li>
                <li><a href="#">SVN Repository</a></li>
                <li><a href="#">SVN Repository</a></li>
            </ol> -->
        </div>
    </div>
    <p>A bug tracking system or defect tracking system is a software application that keeps track of reported software bugs in software development projects. It may be regarded as a type of issue tracking system.</p>
    <div class="row">
        <div class="col-md-4">
            <img src="http://upload.wikimedia.org/wikipedia/commons/0/00/Spider_Chart.svg" style="width:100%"/>
        </div>
        <div class="col-md-8">

        		    <!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#factoids-sourcecode" role="tab" data-toggle="tab">Factoids</a></li>
			  <li><a href="#sparklines-sourcecode" role="tab" data-toggle="tab">Sparklines</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane fade in active" id="factoids-sourcecode">	
				<p>has had 2,470 commits made by 4 contributors representing 2,480,383 lines of code</p>
				<p>is mostly written in Java with an average number of source code comments</p>
				<p>has a well established, mature codebase maintained by a average size development team with stable Y-O-Y commits</p>
				<p>took an estimated 719 years of effort (COCOMO model) starting with its first commit in September, 2008 ending with its most recent commit 6 days ago</p>
				<p>is mostly written in Java with an average number of source code comments</p>
				<p>has a well established, mature codebase maintained by a average size development team with stable Y-O-Y commits</p>
			  </div>
			  <div class="tab-pane fade" id="sparklines-sourcecode">
			  	<table class="table">
                <thead>
                    <th>metric</th>
                    <th>01/09/2007</th>
                    <th>65 months</th>
                    <th>15/07/2014</th>
                    <th>low</th>
                    <th>high</th>
                </thead>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
            </table>

			  </div>
			</div>
        </div>        
    </div>
    </section>

    <section>
     <div class="row section-heading">
        <div class="col-md-4">
            <h2>Communication Channels</h2>
        </div>
        <div class="col-md-6 col-md-offset-2" style="text-align:right">
           <!--  <ol class="breadcrumb projectbreadcrumb">
                <li><a href="#">SVN Repository</a></li>
                <li><a href="#">SVN Repository</a></li>
                <li><a href="#">SVN Repository</a></li>
            </ol> -->
        </div>
    </div>
    <p>A bug tracking system or defect tracking system is a software application that keeps track of reported software bugs in software development projects. It may be regarded as a type of issue tracking system.</p>
    <div class="row">
        <div class="col-md-4">
            <img src="http://upload.wikimedia.org/wikipedia/commons/0/00/Spider_Chart.svg" style="width:100%"/>
        </div>
        <div class="col-md-8">

        		    <!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#factoids-sourcecode" role="tab" data-toggle="tab">Factoids</a></li>
			  <li><a href="#sparklines-sourcecode" role="tab" data-toggle="tab">Sparklines</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane fade in active" id="factoids-sourcecode">	
				<p>has had 2,470 commits made by 4 contributors representing 2,480,383 lines of code</p>
				<p>is mostly written in Java with an average number of source code comments</p>
				<p>has a well established, mature codebase maintained by a average size development team with stable Y-O-Y commits</p>
				<p>took an estimated 719 years of effort (COCOMO model) starting with its first commit in September, 2008 ending with its most recent commit 6 days ago</p>
				<p>is mostly written in Java with an average number of source code comments</p>
				<p>has a well established, mature codebase maintained by a average size development team with stable Y-O-Y commits</p>
			  </div>
			  <div class="tab-pane fade" id="sparklines-sourcecode">
			  	<table class="table">
                <thead>
                    <th>metric</th>
                    <th>01/09/2007</th>
                    <th>65 months</th>
                    <th>15/07/2014</th>
                    <th>low</th>
                    <th>high</th>
                </thead>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
            </table>

			  </div>
			</div>
        </div>        
    </div>
</section>
<section>
     <div class="row section-heading">
        <div class="col-md-4">
            <h2>Bug Tracking Systems</h2>
        </div>
        <div class="col-md-6 col-md-offset-2" style="text-align:right">
           <!--  <ol class="breadcrumb projectbreadcrumb">
                <li><a href="#">SVN Repository</a></li>
                <li><a href="#">SVN Repository</a></li>
                <li><a href="#">SVN Repository</a></li>
            </ol> -->
        </div>
    </div>
    <p>A bug tracking system or defect tracking system is a software application that keeps track of reported software bugs in software development projects. It may be regarded as a type of issue tracking system.</p>
    <div class="row">
        <div class="col-md-4">
            <img src="http://upload.wikimedia.org/wikipedia/commons/0/00/Spider_Chart.svg" style="width:100%"/>
        </div>
        <div class="col-md-8">

        		    <!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#factoids-sourcecode" role="tab" data-toggle="tab">Factoids</a></li>
			  <li><a href="#sparklines-sourcecode" role="tab" data-toggle="tab">Sparklines</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane fade in active" id="factoids-sourcecode">	
				<p>has had 2,470 commits made by 4 contributors representing 2,480,383 lines of code</p>
				<p>is mostly written in Java with an average number of source code comments</p>
				<p>has a well established, mature codebase maintained by a average size development team with stable Y-O-Y commits</p>
				<p>took an estimated 719 years of effort (COCOMO model) starting with its first commit in September, 2008 ending with its most recent commit 6 days ago</p>
				<p>is mostly written in Java with an average number of source code comments</p>
				<p>has a well established, mature codebase maintained by a average size development team with stable Y-O-Y commits</p>
			  </div>
			  <div class="tab-pane fade" id="sparklines-sourcecode">
			  	<table class="table">
                <thead>
                    <th>metric</th>
                    <th>01/09/2007</th>
                    <th>65 months</th>
                    <th>15/07/2014</th>
                    <th>low</th>
                    <th>high</th>
                </thead>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
                <tr>
                    <td>lines of code</td>
                    <td>324</td>
                    <td><img src="http://betterdashboards.files.wordpress.com/2010/02/sparkline1.jpg" style="width:150px"/></td>
                    <td>299</td>
                    <td>32</td>
                    <td>376</td>
                </tr>
            </table>

			  </div>
			</div>
        </div>        
    </div>
</section>

@*  	Need to assign projects to the users who created them
	    <a class="btn btn-success" href="@routes.Projects.edit(project.id)">Edit</a>
		<a class="btn btn-danger" href="@routes.Projects.delete(project.id)">Delete</a>
*@	    

	</div>
</div>

}