@(project: org.ossmeter.repository.model.Project, qualityModel : QualityModel, isSummary : Boolean)

@import scala._

@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._

@import org.ossmeter.repository.model._
@import org.ossmeter.repository.model.bts.bugzilla._
@import org.ossmeter.repository.model.cc.forum._
@import org.ossmeter.repository.model.cc.nntp._
@import org.ossmeter.repository.model.cc.wiki._
@import org.ossmeter.repository.model.vcs.svn._
@import org.ossmeter.repository.model.vcs.git._
@import org.ossmeter.repository.model.eclipse._

@import model.Notification
@import model.SparkGridEntry

@main(Messages("ossmeter.index.title")) {
<script type="text/javascript">
$(function() {
@subjectPresentOr() {
@defining(Application.getLocalUser(session())) { user =>
app.loggedIn = true;
@for(g <- user.getGrid()) {@g match {
case n : Notification => {@if(n.getProject().getId()) {app.grid.notifications.push("@n.getMetric().getId()");
}}
case s : SparkGridEntry => {@if(s.getProject().getId()) {app.grid.sparks.push("@s.getMetric().getId()");
}}case other => {}}}}}{ }
});
</script>

@_projectMetaData(project)

@* @_qualityModelView(project, qualityModel, selectedAspect, isSummary) *@

@if(!isSummary) {
    @_largePlot()
}

@_aspectView(project, qualityModel, qualityModel, isSummary, List(qualityModel))

<script type="text/javascript" src="@routes.Assets.at("js/d3.v3.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("js/RadarChart.js")"></script>
}