<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eclipseProject -->
      <package
            uri="http://com.tecnalia.ossmeter.model/eclipse_project"
            class="com.tecnalia.ossmeter.model.eclipseproject.EclipseprojectPackage"
            genModel="model/eclipseProject.genmodel"/>
   </extension>

</plugin>
