<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   <extension point="org.ossmeter.platform.metricprovider">
      <metricProvider provider="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread.NumberOfRequestsRepliesPerThreadProvider">
      </metricProvider>
   </extension>
   <extension point="org.ossmeter.platform.client.api.pongoviz">
      <visualiser metricProviderId="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread" pongoVisualiser="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread.model.AverageRRThreadViz">
      </visualiser>
   </extension>




<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread.model.AverageRRThread"/>
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread.model.AverageArticlesPerThreadData"/>
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread.model.AverageRequestsPerThreadData"/>
    <class name="org.ossmeter.metricprovider.generic.numberofrequestsrepliesperthread.model.AverageRepliesPerThreadData"/>
  </extension>
</plugin>
