@()

@main("OSSMETER : Project List", true) {
    <section>
		<h1>Featured Projects</h1>
		<p>Take a look at some of the projects that have been analysed so far:</p>
		<ul class="inline featured">
			<li class="well well-light">
					<img src="@routes.Assets.at("images/logos/epsilon.png")" class="project-list-icon"/>
					<h3><a href="p/epsilon">Epsilon</a></h3>
					<small>Epsilon is a family of languages and tools for code generation, model-to-model transformation ...</small>
			</li>
			<li class="well well-light">
					<img src="@routes.Assets.at("images/logos/log4j.jpg")" class="project-list-icon"/>
					<h3><a href="p/log4j">Apache Log4J</a></h3>
					<small>Apache log4j is an Apache Software Foundation Project and developed by a dedicated team ...</small>
			</li>
			<li class="well well-light">
					<img src="@routes.Assets.at("images/logos/tomcat.png")" class="project-list-icon"/>
					<h3><a href="p/tomcat">Apache Tomcat</a></h3>
					<small>Apache Tomcat is an open source software implementation of the Java Servlet and JavaServer ...</small>
			</li>
			<li class="well well-light">
					<img src="@routes.Assets.at("images/logos/ant.png")" class="project-list-icon"/>
					<h3><a href="p/ant">Apache ANT</a></h3>
					<small>Apache Ant is a Java library and command-line tool whose mission is to drive processes ...</small>
			</li>
			<li class="well well-light">
					<img src="@routes.Assets.at("images/logos/subversive.gif")" class="project-list-icon"/>
					<h3><a href="p/subversive">Subversive</a></h3>
					<small>The Subversive project is aimed to integrate the Subversion (SVN) version control system ...</small>
			</li>
			<!-- <li class="well well-light">
					<img src="@routes.Assets.at("images/osslogo-color-48.png")" class="project-list-icon"/>
					<h3><a href="p/epsilon">Epsilon</a></h3>
					<small>Select the project that best fits your requirements and start using it.</small>
			</li> -->
		</ul>
	</section>
}
