<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ossmeter.rascal.metricprovider">
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/RRJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/AJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/CFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/MHFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/PFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/AHFJavaHistoric.json">
      </visualisation>
   </extension>
   <extension
         point="org.ossmeter.platform.visualisation.metric">
      <visualisation
            json="vis/SRJavaHistoric.json">
      </visualisation>
   </extension>
</plugin>
