<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ossmeter.platform.metricprovider">
      <metricProvider
            provider="org.ossmeter.metricprovider.generic.totalloc.GenericTotalLocMetricProvider">
      </metricProvider>
   </extension>
   <extension
         point="org.ossmeter.platform.client.api.pongoviz">
      <visualiser
            metricProviderId="org.ossmeter.metricprovider.generic.totalloc"
            pongoVisualiser="org.ossmeter.metricprovider.generic.totalloc.model.TotalLocViz">
      </visualiser>
   </extension>

</plugin>
