<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.historic.bugs.newusers.model.BugsNewUsersHistoricMetric"/>
    <class name="org.ossmeter.metricprovider.historic.bugs.newusers.model.DailyBugTrackerData"/>
  </extension>
  <extension
        point="org.ossmeter.platform.metricprovider">
     <metricProvider
           provider="org.ossmeter.metricprovider.historic.bugs.newusers.NewUsersHistoricMetricProvider">
     </metricProvider>
  </extension>
  <extension
        point="org.ossmeter.platform.visualisation.metric">
     <visualisation
           json="vis/historic.bugs.newusers.json"></visualisation>
  </extension>
</plugin>
