<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>

<extension point="com.googlecode.pongo.runtime.osgi">
    <class name="org.ossmeter.metricprovider.rascal.metric.trans.model.WMC"/>
    <class name="org.ossmeter.metricprovider.rascal.metric.trans.model.WMCData"/>
  </extension>
<extension
      point="org.ossmeter.platform.metricprovider">
   <metricProvider
         provider="org.ossmeter.metricprovider.rascal.metric.WeightedMethodsCount">
   </metricProvider>
</extension>
</plugin>
